.semester_tools {
	height: 3em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.semester_week_title {
max-width: 5px;
transform: rotate(90deg);
transform-origin: 35% 65%;
white-space: nowrap;
text-transform: uppercase;
font-size: 11px;
}